@use 'variables' as vars;

.product-item img {
  width: 100%;
  border-radius: vars.$border-radius-lg;
}

.product-button {
  display: block;
  background-color: vars.$success;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: vars.$border-radius-sm;
  margin-top: 8px;
  text-decoration: none;
}

.product-button:hover {
  background-color: vars.$success-hover;
}
