@use 'variables' as vars;

.container {
  max-width: vars.$container-max;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: vars.$primary-color;
  position: sticky;
  top: 0;
  left: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.menu {
  display: flex;
}

.menu li {
  font-weight: bold;
  margin-left: 24px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 56px 0;
}

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
    display: block;
  }

  .product-item  {
    margin-bottom: 32px;
  }
}
